.background {
    -fx-background-color: #e9e9e9;
}

.rounded-md {
    -fx-background-radius: 8px;
}

.button {
    -fx-background-color: #b4b4b4;
    
}

.button:hover {
    -fx-background-color: #a4a4a4;
}

.combo-box {
    -fx-background-color: #ffffff;
    -fx-border-color: #b4b4b4;
   
    -fx-border-radius: 8px;
}

.combo-box:hover {
    -fx-border-color: #e0e0e0;
}

.combo-box:focused {
    -fx-border-color: #0077B6;
}

.transparent {
    -fx-background-color: rgba(187, 187, 187, 0.445);
}

.input-field {
    -fx-border-color: #b4b4b4;
    -fx-border-radius: 10px;
}

.input-field:focused {
    -fx-border-color: #0077B6;
} 

.text-area .content {
    -fx-border-color: #b4b4b4;
}

/* ---------------------------------------------------------- DA TESTARE ---------------------------------------------------------- */

