.root{
    -fx-background-color: #353A56;
    
}

.anchor_pane{
    -fx-background-color:  #353A56;
    -fx-border-color:  #2207bb;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-style: solid;


}

.btn_home  {
    -fx-background-color: #353A56;
    -fx-border-width: 2px 2px 2px 2px;
    -fx-border-radius: 20px;
    -fx-border-style: solid;
}